NetBeans-folder-2-DAM/T12EjercicioWeb/src/conf/xml-resources/web-services/ClaseServiciosServiceFromWSDL/wsdl/localhost_8080/T12EjercicioWeb/ClaseServicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="obtenerFechaActual" type="tns:obtenerFechaActual"/>

<xs:element name="obtenerFechaActualResponse" type="tns:obtenerFechaActualResponse"/>

<xs:complexType name="obtenerFechaActual">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerFechaActualResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>